.contenedor_compras{margin-left: 15px;}
 #tabla_temporal table { margin: auto; color: #333; font-family: Helvetica, Arial, sans-serif; width: 980px;border-radius: 0in;}

#tabla_temporal td, th { border: 3px solid transparent; height: 30px; }
#tabla_temporal th {     font-size: 19px;     padding: 8px;     background:#3964b849;
    border-top: 4px;    border-bottom: 1px solid #fff; color: #0a0a0a; }

#tabla_temporal td { background: #e9e9e9; }


/*#tabla_temporal tr:nth-child(even) td { background: #F1F1F1; }  */

/*#tabla_temporal tr:nth-child(odd) td { background: #FEFEFE; }  */
#agregar_compra{margin:15x; font-size: 18px;}
#cancelar{font-size: 18px;}
#x{margin-left:730px;}

#fila_agregar div input{margin-right: -200px;}
#tpro, #tcan, #tpre_ing{
    border: 1px solid #dddddd;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
margin: 20px;}
#tdes_com{
    border: 1px solid #dddddd;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
margin: 10px;
}
#ttipcom, #prove{
    border: 1px solid #dddddd;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 16px;
    padding: 5px;
margin: 20px;
}
.primer-fila{height: 75px;margin-top: 15px;}

.segunda-fila{background-color: #eeeeee;height: 75px;margin-bottom: 20px;width: 100%;margin-left: -5px;}

.tercera-fila{background-color: #eeeeee; margin-left: -5px;}


.p{font-size: 16px;margin-left: 8px;}
.fein{margin-left: 250px;}

#tabla_mostrar{background-color: #18171c;margin-left: 0px;}
#tabla_mostrar th {     font-size: 14px;     padding: 8px;     background:#18171c;
    border-top: 4px;    border-bottom: 1px solid #fff; color: #c2c2c2; }
    #tabla_mostrar td {color: #c2c2c2; }
   